@{
    ViewData["Title"] = "Вход";
}

<style>
    .input-default:focus
    {
        border-color: #8977dc;
        outline: none;
        box-shadow: 0 0 5px #8977dc;
    }
</style>

<div style="text-align: center; margin-top: 20vh;">
    <h2 style="text-align: center; margin-bottom: 20px; color: #fffcea;">Вход</h2>

    <form asp-action="Login" method="post" style="max-width: 400px; margin: auto; padding: 20px; border-radius: 8px; box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);">
        <div style="margin-bottom: 15px;">
            @* <label for="login" style="display: block; margin-bottom: 5px; font-weight: bold; color: #fffcea; text-align: left;">Логин</label> *@
            <input type="text" name="login" class="input-default" placeholder="Введите логин" required style="width: 100%; color: #fffcea; padding: 10px; border-radius: 4px;border: none; box-sizing: border-box; background-color: #212121;" />
        </div>
        <div style="margin-bottom: 15px;">
            @* <label for="password" style="display: block; margin-bottom: 5px; font-weight: bold; color: #fffcea; text-align: left;">Пароль</label> *@
            <input type="password" class="input-default" name="password" placeholder="Введите пароль" required style="width: 100%; color: #fffcea; padding: 10px; border-radius: 4px;border: none; box-sizing: border-box; background-color: #212121;" />
        </div>
        <button type="submit" style="width: 100%; padding: 10px; font-weight: bold; background-color: #8977dc; color: #fffcea; border: none; border-radius: 4px; cursor: pointer; font-size: 16px;">Войти</button>

        <div style="color: red; margin-top: 10px;">
            @if (!ViewData.ModelState.IsValid)
            {
                foreach (var error in ViewData.ModelState.Values.SelectMany(v => v.Errors))
                {
                    <div>@error.ErrorMessage</div>
                }
            }
        </div>
    </form>

    <div style="text-align: center; margin-top: 10px;">
        <a asp-action="Register" style="color: #8977dc; text-decoration: none; font-weight: bold;">Зарегистрироваться</a>
    </div>
</div>
