@model IEnumerable<WebApplication1.Models.Role>

@{
    ViewData["Title"] = "Роли";
}

<h1 style="color: #fffcea;">Роли</h1>

<table class="table" style="margin-top: 20px;">
    <thead>
        <tr>
            <th style="color: #fffcea;">Роль</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td style="color: #fffcea;">
                    @Html.DisplayFor(modelItem => item.role)
                </td>
            </tr>
        }
    </tbody>
</table>