@model IEnumerable<WebApplication1.Models.Promotion>

@{
    ViewData["Title"] = "Акции";
}

<h1 style="color: #fffcea;">Акции</h1>

<table class="table" style="margin-top: 20px;">
    <thead>
        <tr>
            <th style="color: #fffcea;">Название акции</th>
            <th style="color: #fffcea;">Скидка</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td style="color: #fffcea;">
                    @Html.DisplayFor(modelItem => item.name)
                </td>
                <td style="color: #fffcea;">
                    @Html.DisplayFor(modelItem => item.discount)
                </td>
            </tr>
        }
    </tbody>
</table>
